*
{
  margin: 2.5;
  padding: 2.5;
  box-sizing:border-box;
  font-family: "Poppins", sans-serif;
  border-radius: 10px; 
}
body
{
    color: lawngreen;
    margin: 0;
    padding-top: 5%;
    text-align: center;
    margin-top: 15px;
    background-image: url(Images/image1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;

}  

.submit-container
{
    color: lawngreen;
    width: 400px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 50px;
    background-image: url(Images/image2.jpg);
    box-shadow: 2px 2px 5px 2px red, -2px -2px 5px 2px blue, 2px -2px 5px 2px yellow;
}

.input-box input
{
    background-color: transparent;
    box-shadow: 2px 2px 5px 2px red, -2px -2px 5px 2px blue, 2px -2px 5px 2px yellow;
    font-size: 20px;
    color: lawngreen;
    width: 100%;
    height: 50px;
}

.input-box ::placeholder
{
  color: yellowgreen;
  font-style: bold;
  font-style: italic;
  
}

button
{
    cursor: pointer;
    position: center;
    border: none;
    padding-top: 5px;
    border-radius: 10px;
    background-color: slategray;
    font-size: 17px;
    width: 50%;
    height: 50px;
    color: lawngreen;
    box-shadow: 2px 2px 5px 2px red;
}

button:hover
{
    width: 250px;
    font-size: 20px;
    color: red;
    background-color: gray;
    transition: ease 0.5s;
}

button:active
{
    transition: 0.5s;
    background-color: darkgray;
}

.log-in
{
    
    color: gray;
    display: flex;
    margin: 0;
    padding-top: 10px;
    padding-left: 6px;
    text-decoration: none;
    align-items: left;
}

a :hover
{
    text-decoration: underline;
    color: red;
}

button :active
{
  transition: 1s;
  background-color: Gray;
  
}

#login{
  text-decoration: none;
  color: lawngreen;
  font-weight: none;
}

.log-in :hover{

    text-decoration: underline;
}


